---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-readability-qualified-auto'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none


